@import "tailwindcss";

@theme {
    /* Base Colors */
    --color-background: var(--bg);
    --color-surface: var(--bg-light);
    --color-text-main: var(--text-main);
    --color-border: var(--border);
    --color-border-muted: var(--border-muted);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-danger: var(--danger);
    --color-warning: var(--warning);
    --color-success: var(--success);
    --color-info: var(--info);
    --color-muted: var(--text-muted);
    --shadow-custom: var(--shadow-theme);
}

:root {
    --bg-dark: oklch(0.92 0 133);
    --bg: oklch(0.96 0 133);
    --bg-light: oklch(1 0 133);
    --text-main: oklch(0.15 0 133);
    --text-muted: oklch(0.4 0 133);
    --highlight: oklch(1 0 133);
    --border: oklch(0.6 0 133);
    --border-muted: oklch(0.7 0 133);
    --primary: oklch(71.22% 0.22177 138.523);
    --danger: oklch(66.588% 0.20456 30.424);
    --warning: oklch(80.417% 0.16568 98.489);
    --success: oklch(0.7 0.17 160);
    --info: oklch(0.7 0.17 260);
    --shadow-theme: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* --- DARK MODE --- */
.dark {
    --bg-dark: oklch(0.1 0 133);
    --bg: oklch(0.15 0 133);
    --bg-light: oklch(0.2 0 133);
    --text-main: oklch(0.96 0 133);
    --text-muted: oklch(0.76 0 133);
    --highlight: oklch(0.5 0 133);
    --border: oklch(0.4 0 133);
    --border-muted: oklch(0.3 0 133);
    --primary: oklch(75.034% 0.23912 144.574);
    --secondary: oklch(74.825% 0.16737 54.76);
    --danger: oklch(0.7 0.2 30);
    --warning: oklch(0.7 0.2 100);
    --success: oklch(0.7 0.2 160);
    --info: oklch(0.7 0.2 260);
    /* Deep Shadow (Almost black and more opaque so it's noticeable) */
    --shadow-theme: 0 10px 25px -5px rgba(67, 67, 67, 0.6), 0 8px 10px -6px rgba(67, 67, 67, 0.4);
}

body {
    background-color: var(--bg);
    color: var(--text-main);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    @apply w-[85%] max-w-480 py-20 mx-auto;
}
